<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Metropolitan Backflow</title>
    <link rel="manifest" href="~/manifest.json"></link>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    @*
        <link rel="stylesheet" href="~/css/site.min.css" />*@
    @RenderSection("IncludeHead", required: false)
</head>
<body>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img class="mr-2" src="~/images/justlogo.png" width="50" height="50" />Metropolitan Backflow
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-item nav-link active" asp-area="" asp-controller="ContactUs" asp-action="Index">Contact</a>
                </div>
            </div>
        </nav>
    </div>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        <br />
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Metropolitan Backflow</p>
        </footer>
    </div>

    <script src="~/js/pwa/manup.min.js"></script>
    <script>
        if ("serviceWorker" in navigator) {
            if (navigator.serviceWorker.controller) {
                console.log("[PWA Builder] active service worker found, no need to register");
            } else {
                // Register the service worker
                navigator.serviceWorker
                    .register("js/pwa/pwabuilder-sw.js", {
                        scope: "./"
                    })
                    .then(function (reg) {
                        console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
                    });
            }
        }
    </script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>